table {
    border-collapse: collapse;
    border: 1px solid #000;
}

tr, td, th {
    border: 1px solid #000;
    padding: 4px;
}

.TableContainer {
    display: flex;
    justify-content: center;
}

.Par {
    background-color: #fcc8c2;
}

.Impar {
    background-color: #f5eccd;
}